URxvt*scrollBar: false
URxvt*transparency: false
URxvt*externalBorder: 0px
URxvt*internalBorder: 35px
URxvt*font: xft:Fantasque Sans Mono-12
URxvt*letterSpace: -2

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
